<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
	<h1>Welcome to register page</h1>
	<form action="/register" method="POST">
		<input type="text" placeholder="studentid" name="studentid" id="studentid">
		<input type="text" placeholder="firstname" name="firstname" id="firstname">
		<input type="text" placeholder="lastname" name="lastname" id="lastname">
		<button type="submit">Register</button>
	</form>
</body>
</html>